*{
    margin: 0;
    padding: 0;
}
.balloon-animation {
    position: relative;
    background-color: rgb(71, 135, 255);
    height: 100vh;
}

.cloud {
    position: absolute;
    width: 20%;
}

.balloon-img {
    position: absolute;
    width: 20%;
    top: 20%;
    left: 50%;
}

.cloud:nth-child(1) {
    left: 40%;
    top: 20%;
}
.cloud:nth-child(2) {
    left: 20%;
    top: 40%;
}
.cloud:nth-child(3) {
    left: 70%; 
    top: 30%;
    z-index: 1;
}
.cloud:nth-child(4) {
    left: 50%;
    top: 20%;
    z-index: 1;
}
.cloud:nth-child(5) {
    left: 65%;
    top: 45%;
}
.cloud:nth-child(6) {
    left: 40%;
    top: 40%;
    z-index: 1;
}

